title=title
meta(content=seoForPages.commonData.author name="author")
meta(content=description name="description")
meta(content=keywords name="keywords")
meta(content=seoForPages.commonData.url property="og:url")
meta(content=seoForPages.commonData.site_name property="og:site_name")
meta(content="website" property="og:type")
meta(content=title property="og:title")
meta(content=description property="og:description")
meta(content=seoForPages.commonData.image200200Url property="og:image")
meta(content=seoForPages.commonData.image200200Url property="og:image:secure_url")
meta(content="200" property="og:image:width")
meta(content="200" property="og:image:height")
meta(content="image/png" property="og:image:type")
meta(content=seoForPages.commonData.site_name property="og:image:alt")
meta(content=seoForPages.commonData.lang+'_'+seoForPages.commonData.lang.toUpperCase() property="og:locale")
